/* EJERCICIO 6.1
Esta regla asegura que todas las imágenes y vídeos se adapten al tamaño del contenedor sin deformarse. */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

body{
    font-family:'Segoe UI', sans-serif;
    margin: 0;
    background-color: #F6EAC2;
    color: #3d3d3d;
}

.hero {
    text-align: center;
    margin: 30px auto;
}


/* EJERCICIO 6.2
Convertimos la imagen decorativa en un fondo CSS.
He elegido background-size: cover porque llena el espacio sin deformar la imagen. */
.hero_img {
    max-width: 90%;
    height: 300px;
    margin: 0 auto;
    border-radius: 12px;
    background-image: url("../imag_carpeta/dog_cat_hug.jpg");
    background-repeat: no-repeat;
    background-position: center;

    /* EJERCICIO 6.2  
    He elegido la opción "cover" porque con "contain" quedaban espacios vacíos a los lados y se veía raro.  
    Con "cover", la imagen se amplía un poco, pero se adapta perfectamente al diseño de la página.  
    El valor "100% 100%" muestra un resultado parecido, pero "cover" me resulta más práctico y natural.  
    */
    background-size: cover;
    /* background-size: contain; */
    /* background-size: 100% 100%; */

    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.hero_text {
    margin-top: 10px;
}

.hero_text h2 {
    color: #5c745e;
    font-size: 1.8em;
}

.hero_text p {
    color: #555;
    font-size: 1em;
}


/**CARD**/

.recommendation{
    text-align: center;
    margin: 40px 0;
}

/*box*/
.pet_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 0 20px;
}

.pet_card{
    background-color:#fffefb;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 15px;
    width: 260px;
}

.pet_card img {
    width: 100%;
    border-radius: 10px;
}

.pet_card h4 {
    color: #3d3d3d;
    margin: 10px 0 5px 0;
}

.pet_card p{
    margin: 4px 0;
    color: #555;
}

/*button*/
.adopt_button{
    display: inline-block;
    background-color:#D4A373 ;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight:500;
    text-decoration: none;
}

/*Diseño adaptable de tabletas*/
@media (max-width: 768px) {
  .hero_text h2 {
    font-size: 1.5em;
  }

  .hero_text p {
    font-size: 0.95em;
  }

  .pet_box {
    gap: 20px;
    padding: 0 15px;
  }

  .pet_card {
    width: 45%;
  }

  .adopt_button {
    padding: 7px 14px;
    font-size: 0.95em;
  }
}

/* Diseño adaptable de Mobiles*/
@media (max-width: 480px) {
  .hero {
    margin: 20px auto;
  }

  .hero_img {
    max-width: 100%;
    border-radius: 8px;
  }

  .hero_text h2 {
    font-size: 1.3em;
  }

  .hero_text p {
    font-size: 0.9em;
  }

  .pet_box {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .pet_card {
    width: 90%;
  }

  .adopt_button {
    padding: 10px 16px;
    font-size: 1em;
  }
}
