@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
    background-color:#F6EAC2 ;
    color: #333;
    line-height: 1.6;
}

h2,h3{
    font-family:'Poppins', sans-serif;
    color: #A3C9A8;
    margin-bottom: 15px;
}

main{
    max-width: 1100px;
    margin: 40px auto;
    padding: 0 20px;
}

.main_flex{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}

.left{
    flex: 1;
    min-width: 250px;
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.left p{
    margin-bottom: 12px;
    font-size: 1.1em;
    color: rgb(77, 63, 53);
}

.left h3{
   margin-bottom: 25px;
}

.right{
    flex: 1;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img{
    width: 80%;
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

/*map area*/

.map{
    text-align: center;
}

.map iframe{
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    margin-top: 20px;
}

/*Diseño adaptable de tabletas*/
@media (max-width: 768px) {
  main {
    padding: 10px;
    margin: 20px;
  }

  .main_flex {
    flex-direction: column; 
    align-items: center;
    gap: 20px;
  }

  .left, .right {
    width: 90%;
  }

  .left p {
    font-size: 1em;
  }

  .right img {
    width: 70%;
    max-width: 300px;
  }

  .map iframe {
    height: 380px;
  }
}

/*Diseño adaptable de mobiles*/
@media (max-width: 480px) {
  h2 {
    font-size: 1.4em;
  }

  .left {
    padding: 15px;
  }

  .left p {
    font-size: 0.95em;
  }

  .right img {
    width: 100%;
    max-width: 250px;
  }

  .map iframe {
    height: 300px;
  }
}