html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

footer {
    text-align: center;
    margin-top: 60px;
    padding: 20px;
    background-color: #A3C9A8;
    color: white;
    font-size: 0.9em;
}

/*Diseño adaptable de tablestas*/
@media (max-width: 768px) {
  footer {
    padding: 18px;
    font-size: 0.85em;
  }
}

/*Diseño adaptable de mobiles*/
@media (max-width: 480px) {
  footer {
    padding: 15px;
    font-size: 0.8em;
  }
}