html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

header {
  background-color: #A3C9A8;
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*left logo-------------------------*/
.logo_container{
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}

.logo_image{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.center_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
    

h1 {
  color: #ffffff;
  font-size: 2em;
  margin: 0;
}

.nav_p {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav_p a {
  margin: 0 16px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: none;
}

/* button menu */
.menu_icon {
  display: none;
  font-size: 2em;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 25px;
}

/* Muestra un icono de menú hamburguesa en dispositivos móviles y planeta */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }

  .nav_p a {
    margin: 0 8px;
    font-size: 0.95em;
  }

  .menu_icon {
    display: block;
  }

  /* nav secre */
  .nav_p {
    display: none;
    flex-direction: column;
    background-color: #A3C9A8;
    width: 100%;
    position: relative;
    top: 20px;
    left: 0;
    padding: 15px 0;
  }

  .nav_p.active {
    display: flex;
  }

  .nav_p a {
    display: block;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .menu_icon {
    top: 20px;
    right: 15px;
    font-size: 1.8em;
  }

  .nav_p a {
    font-size: 1em;
    padding: 12px 0;
  }
}