body {
    font-family:'Segoe UI', sans-serif;
    margin: 0;
    background-color: #F6EAC2;
    color: #3d3d3d;
}

/* Hero Section */
.text-success {
    color: #5c745e !important;
}

/* Cards */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    border-radius: 10px;
}

/* Buttons */
.btn-primary {
    background-color: #D4A373;
    border-color: #D4A373;
}

.btn-primary:hover {
    background-color: #b38c60;
    border-color: #b38c60;
}

.btn-outline-secondary {
    color: #D4A373;
    border-color: #D4A373;
}

.btn-outline-secondary:hover {
    background-color: #D4A373;
    color: #fff;
}
