body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #F6EAC2;
    color: #3d3d3d;
    display: grid;/* display grid */
    grid-template-rows: auto 1fr auto;
    justify-items: center;
}

/* HERO */
.hero {
    display: grid;
    grid-template-rows: auto auto;/*img y text*/
    justify-items: center;
    text-align: center;
    margin: 30px auto;
}

.hero-img {
    max-width: 90%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.hero-text {
    margin-top: 10px;
}

.hero-text h2 {
    color: #5c745e;
    font-size: 1.8em;
}

.hero-text p {
    color: #555;
    font-size: 1em;
}

/* RECOMMENDATION */
.recommendation {
    text-align: center;
    margin: 40px 0;
}

/* PET BOX */
.pet_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    padding: 0 20px;
    justify-items: center; 
}

/* PET CARD */
.pet_card {
    background-color: #fffefb;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 15px;
    width: 260px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    row-gap: 5px;
}

.pet_card img {
    width: 100%;
    border-radius: 10px;
}

.pet_card h4 {
    color: #3d3d3d;
    margin: 10px 0 5px 0;
    text-align: center;
}

.pet_card p {
    margin: 4px 0;
    color: #555;
    text-align: center;
}

/* BUTTON */
.adopt_button {
    display: grid;
    place-items: center;
    background-color: #D4A373;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
}
