@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', Arial, sans-serif;
    background-color: #F6EAC2;
    color: #333;
    line-height: 1.6;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}

/* CONTAINER */
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 40px;
}

.container img {
    width: 400px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.container .text {
    text-align: left;
    justify-self: start;
}

.container h2 {
    font-size: 2em;
    color: #A3C9A8;
}

.container p {
    margin: 10px 0;
}

/* ABOUT AREA */
.about{
    display: grid;
    row-gap: 15px;
    text-align: center;
}

.about h2{
    color: #A3C9A8;
}

/* STORY AREA */
.stories{
    display: grid;
    row-gap: 20px;
    background-color: #f7f3c8;
    text-align: center;
    padding: 80px 20px;
    border-radius: 10px;
}

.stories h2{
    color:#A3C9A8;
}

.stories p{
    color: #444;
    margin-bottom: 20px;
}

.stories_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    width: 100%;
}

.story{
    background-color:#fff7db;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    row-gap: 10px;
    justify-items: center;
}

.story img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.story p{
    color: #4e4b4b;
    font-size: 1em;
    margin: 0;
}

/* BUTTONS */
.btn {
    display: inline-grid;
    place-items: center;
    background-color: #A3C9A8;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    font-weight: 500;
}

.btn-outline {
  display: inline-grid;
  place-items: center;
  background-color: white;
  color: #A3C9A8;
  border: 2px solid #A3C9A8;
}
